h2,
h4,
h5 {
  margin-block: 2rem;
}
h5 {
  border-bottom: 1px solid white;
  padding-bottom: 0.6rem;
}
.flex {
  display: flex;
  align-items: center;
  align-items: stretch;
  gap: 2rem;
}
.column {
  flex-direction: column;
  align-items: flex-start;
}
.box .flex img {
  margin: 0;
  align-self: center;
}
.content-cards {
  display: flex;
  flex-direction: column;
  margin-block: 4rem;
  gap: 2rem;
}
.box {
  border: 1px solid white;
  padding: 4rem 2rem;
  align-self: stretch;
  flex-grow: 2;
}
@media (max-width: 1150px) {
  .flex {
    flex-direction: column;
  }
  .box {
    padding: 2rem;
    min-height: unset;
  }
}
