:root {
  --black: hsl(223, 16%, 9%);
  --disabled: hsl(0, 0%, 62%);
  --frame: hsl(221, 100%, 19%);
  --blue: hsl(216, 88%, 29%);
  --light-blue: hsl(214, 84%, 33%);
  --accent: #e6007ahsl(328, 100%, 33%);
  --accent-blue: hsl(211, 98%, 44%);
  --accent-red: hsl(325, 100%, 31%);
  --accent-green: hsl(160, 100%, 29%);
  --accent-yellow: hsl(50, 100%, 43%);
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --h1: 3.5rem;
  --h2: 3rem;
  --h3: 2.5rem;
  --h4: 2rem;
  --h5: 1.5rem;
  --p: 1.1rem;
}

/* open-sauce-sans-latin-400-normal */
@font-face {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400 800;
  font-stretch: 50% 125%;
  src: url("./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
}

.anchor-target {
  scroll-margin-top: 100px;
}
html,
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  font-family: system-ui, sans-serif;
  background: white;
  min-height: 100vh;
  font-size: 16px; /* tamaño base para los demas textos de la pagina*/
}
body {
  color: var(--black);
  color: white;
  font-family: "Open Sauce Sans", sans-serif;
}
main {
  margin: auto;
  background-image:
    radial-gradient(rgba(255, 255, 255, 0.15) 1.5px, transparent 1.5px),
    radial-gradient(
      circle at bottom right,
      var(--accent-blue) 0%,
      var(--frame) 100%
    );

  /* El tamaño aplica solo al primer fondo (la grilla de puntos) */
  background-size:
    24px 24px,
    auto;
  background-position:
    0 0,
    0 0;
}
section {
  padding-block: 2rem;
  min-height: 100vh;
}

.content {
  width: clamp(300px, 70vw, 900px);
  margin: auto;
}

h1 {
  font-size: var(--h1);
  margin-block: 0.5em;
}
h2 {
  font-size: var(--h2);
  margin-block: 0.5em;
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5 {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
a,
p {
  font-size: var(--p);
  line-height: 1.8;
}
a {
  color: rgb(var(--accent));
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}
.button {
  padding: 0.5rem 1rem;
  background-color: var(--light-blue);
  outline: 2px solid var(--blue);
  outline-offset: -2px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  width: fit-content;
  min-width: 140px;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}
.button:hover {
  background-color: var(--accent-blue);
  outline: 2px solid var(--light-blue);
}
.glass {
  background-color: color-mix(in hsl, var(--black) 29%, transparent 0%);
  backdrop-filter: blur(10px);
}
@media (max-width: 1150px) {
  :root {
    --p: 0.9rem;
  }
  *.not(.navbar),
  *::before,
  *::after {
    animation: none;
    transition: none;
  }
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 3em;
  }
  .content {
    width: calc(100% - 2rem);
  }
}
