:root {
  --black: #13151a;
  --disabled: #9e9e9e;
  --frame: #002063;
  --accent: #e6007a;
  --accent-blue: #026ee0;
  --accent-red: #9e005d;
  /* --accent-green: #00b16a; */
  --accent-green: #009463;
  --accent-yellow: #dbb700;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --h1: 4em;
  --h2: 3em;
  --h3: 2.5em;
  --h4: 2em;
  --h5: 1.5em;
  --p: 1em;
}
/* open-sauce-sans-latin-400-normal */
@font-face {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(@fontsource/open-sauce-sans/files/open-sauce-sans-latin-400-normal.woff2)
      format("woff2"),
    url(@fontsource/open-sauce-sans/files/open-sauce-sans-latin-400-normal.woff)
      format("woff");
}
html,
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  font-family: system-ui, sans-serif;
  background: white;
  min-height: 100vh;
}
body {
  color: var(--black);
  color: white;
  font-family: "Open Sauce Sans", sans-serif;
}
main {
  margin: auto;
  background: radial-gradient(
    circle at bottom right,
    var(--accent-blue) 0%,
    var(--frame) 100%
  );
}
section {
  padding-block: 2rem;
  min-height: 100vh;
  position: relative;
}
.content {
  max-width: 800px;
  margin: auto;
}
h1 {
  font-size: var(--h1);
  margin-block: 0.5em;
}
h2 {
  font-size: var(--h2);
  margin-block: 0.5em;
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5 {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
a,
p {
  font-size: var(--p);
  line-height: 1.8;
}
a {
  color: rgb(var(--accent));
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
  padding: 0;
}
.button {
  padding: 0.5rem 1rem;
  background-color: var(--accent-blue);
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  align-self: flex-end;
}
.glass {
  background-color: color-mix(in oklab, var(--black) 29%, transparent 0%);
  backdrop-filter: blur(10px);
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 3em;
  }
  .content {
    max-width: 300px;
  }
}
