:root {
  --black: black;
  --accent: #e6007a;
  --accent-blue: #026ee0;
  --accent-red: #9e005d;
  --accent-yellow: #dbb700;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}
/* open-sauce-sans-latin-400-normal */
@font-face {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(@fontsource/open-sauce-sans/files/open-sauce-sans-latin-400-normal.woff2)
      format("woff2"),
    url(@fontsource/open-sauce-sans/files/open-sauce-sans-latin-400-normal.woff)
      format("woff");
}
html,
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: system-ui, sans-serif;
  background: white;
  min-height: 100vh;
}
body {
  color: #13151a;
  font-family: "Open Sauce Sans", sans-serif;
}

a {
  color: rgb(var(--accent));
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  margin-block: 2rem;
}
